VITE_PAYPAL_APP_ID=your-paypal-app-id
VITE_PAYPAL_PRIVATE_KEY=your-paypal-private-key
VITE_PAYPAL_PUBLIC_KEY=your-paypal-public-key
VITE_PAYPAL_TOKEN=your-paypal-token
VITE_PAYPAL_ENCRYPT_KEY=your-paypal-encrypt-key
NODE_DEBUG=paypal-sdk